option_settings:
    "aws:elasticbeanstalk:application:environment":
        DJANGO_SETTINGS_MODULE: "touringProject.settings"
    "application_stage": "staging"
    "aws:elasticbeanstalk:container:python":
        WSGIPath: touringProject/wsgi.py
        NumProcesses: 3
        NumThreads: 20
    "aws:elasticbeanstalk:container:python:staticfiles": "/static/": "static/"